



  <ion-tabs >
    <ion-tab-bar  slot="bottom" class="mobile-tabs">
      <ion-tab-button tab="tutores" href="/tabs/tutores">
        <ion-icon aria-hidden="true" name="school-outline"></ion-icon>
        <ion-label>Tutores</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="usuarios" href="/tabs/usuarios">
        <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
        <ion-label>Usuarios</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="reservas" href="/tabs/reservas">
        <ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
        <ion-label>Reservas</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
