<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Tutores </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if(isLoading){
  <div class="loading">
    <ion-spinner color="secondary"></ion-spinner>
  </div>

  }@else{

  <ion-item>
    <ion-label>Filtrar por Especialidad:</ion-label>
    <ion-select [(ngModel)]="selectedSpeciality" (ionChange)="filterTutors()">
      <ion-select-option value="">Todas</ion-select-option>
      <ion-select-option value="Advanced">Advanced</ion-select-option>
      <ion-select-option value="Intermediate">Intermediate</ion-select-option>
      <ion-select-option value="Fluent">Fluent</ion-select-option>
      <ion-select-option value="Beginner">Beginner</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    @for (tutor of filteredTutors; track tutor.id; let index = $index) {
    <tutor-item [tutor]="tutor" [index]="index"></tutor-item>

    }
  </ion-list>
  }
</ion-content>
