<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Reservas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if(isLoading){
  <div class="loading">
    <ion-spinner color="secondary"></ion-spinner>
  </div>

  }@else{
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="filterBySearchTerm()"
    placeholder="Buscar usuario por nombre o email"
  ></ion-searchbar>
  <ion-list>
    @for (booking of bookingsFiltered; track booking.id; let index = $index) {
    <booking-item [booking]="booking" [index]="index"></booking-item>

    }
  </ion-list>
  }
</ion-content>
